.carrito-container {
    position: fixed;
    font-size: medium;
    right: 15px;
    top: 15px;
    height: 70vh;
    width: 30vw;
    background-color: white;
    z-index: 100;
}

.carrito-title {
    color: #3B3B3B;
    background-color: #ADD082;
    z-index: 100;
}

.carrito-buyData {
    border-top: 2px solid #3b3b3b3a;
    z-index: 100;
}

.item-quantity_conteiner {
    border: 1px solid rgba(65, 65, 65, 0.959);
    width: 100px;  
    z-index: 100; 
}

.item-quantity_number {
    border: none;
    text-align: center;
    width: 30px;
    z-index: 100;

}

.cart-btn {
    width: 95%;
}


@media (max-width: 991px) {
    .carrito-container {
        left: 20px;
        top: 20px;
        height: 70vh;
        width: 95vw;
    }

}

@media (max-width: 560px) {
    .carrito-container {
        width: 90vw;
    }

}

@media (max-width: 390px) {
    .carrito-container {
        width: 85vw;
    }

}