@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');

/* --------------- Tama単o del Carousel ----------------- */
.main_carousel {
    max-width: 100%;
    margin:  auto;
    overflow: hidden;
}
/*--------------- Tama単o del Slide IMG ----------------- */
.img-slide{
    height: auto;
    width: 100%;
    max-height: 500px ;
}
strong {
    font-size: 65px;
    
}
.imagen-informativa {
    font-size: 25px;
}
/* --------------- Tama単o de flechas ----------------- */

.De {
	width: 30px;
    height: 30px;
    margin-top: 120%;
}
.Iz{
	width: 30px;
    height: 30px;
}
/* ------------------Imagenes Barra Debajo Slide-------------------------- */
.img-barra_info{
    height: 200px;
    width: auto; 
    
    
}
/* ------------------Imagenes Barra Debajo Slide BORDES-------------------------- */
#conteiner-pagos, #conteiner-envios, #conteiner-tienda{
    
    background-color: #F2F2F2;
    
}
#conteiner-pagos{
    
	border-left: none;
}
/* ------------------ Color de fondo por las barras -------------------------- */
.conteiner-metodos-info {
background-color: #F2F2F2;
}
/* ------------------ Barras de division -------------------------- */
.div-barra{
	width: 2px;
	border: 0.5px solid #6A6A6A;
	height: 250px;
	margin-top: 50px;
}

/* ------------------FORMULARIO-------------------------- */

.form{
    text-align: center;
}

/*
button img {
    height: 50px;
}
button {
    background-color: #BFE393;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn-slide-left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    
    background-color: #fff;
    
    transition: 0.5s;
}
*/

/* --------------------------- FOOTER --------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.footer1 {
    background-color: #ADD082;
	color: #6A6A6A;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
	
	
}
.enunciados{
	padding: 0;
	margin-top: 50px;
	margin-left: -20px;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}
/* ------------- Con esta aplicacion en el texto, se rompe al achicarlo ------------- */
.texto-primer-columna{
	text-align: start;
	padding-left: 10%;
	margin-bottom: 55px;
}
.lista_footer {
	list-style: none;
	margin-left: -35px;
}
.grid-containter {
	margin-bottom: 25px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	text-align: center;
	width: 100%;
/* ---------- Dejar un AUTO cuando @media y 400px/480px normal --------*/	
	height: auto;
}
/* ---------- Dejar un AUTO cuando @media y 400px/480px normal --------
.grid-containter div {
	height: 400px;
}
--------------------------------------------------------------------------*/
/* --------------------------- Imagenes FOOTER --------------------------- */
.insta-logo {
	width: 65px;
	height: auto;
	color: white;
	
	
}
.logo-footer{
	width: 175px;
	height: auto;
	margin-top: 100px;
	
	
}
.ubi-tienda{
	width: 30px;
	margin-right: 10px ;
	
	
}
.p_ubi-tienda{
	font-size: 22px;
	margin-right: 50px;
}
.data-random{
	margin-bottom: 15px ;
}

/* --------------------------- Dise単o Formulario --------------------------- */

.textarea {
	width: 100%;
	height: 100px;
	border-radius: 9px;
	border-style: none;
	margin-top: 12px;
	padding-left: 9px ;
	font-family: 'Roboto', sans-serif;
}
.email {
	width: 100%;
	height: 25px;
	border-radius: 9px;
	border-style: none;
	margin-top: 12px;
	padding-left: 9px ;
	font-family: 'Roboto', sans-serif;
}
.nombre {
	width: 100%;
	height: 25px;
	border-radius: 9px;
	border-style: none;
	padding-left: 9px ;
	font-family: 'Roboto', sans-serif;
}
.btn-envio {
	width: 105%;
	height: 35px;
	border-radius: 5px;
	border-style: none;
	background-color:#687D6A;
	color: #FFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 14px ;
	font-weight: 100;
	margin-top: 12px;
	cursor: pointer;

}
