@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-main {
    background-color: #BFE393;
}

.navbar-nav {
    font-size: large;
    font-weight: 600;
}

.navbar-dropdown {
    background: #BFE393;
    margin: 0;
    padding: 0;
}

.navbar-dropdown:hover {
    color: rgba(0, 0, 0, 0.842);
    background: #bfe39359;
}

.navbar-cart {
    color: #6A6A6A;
}

.navbar-cart:hover {
    color: #3b3b3b83;
}

.carrito-fondo {
    position: fixed;
    top: 0;
    left: 0;    
    background-color: #3b3b3b83;
    z-index: 100;
}


@media (max-width: 991px) {
    .navbar-container {
        display: flex;
        flex-direction: row-reverse;
    }

}
