.pasos_pedido {
    list-style: none;
    margin-top: 15px;
    position: relative;

}
.contenedor_pasos_pedido {
    margin-left: 30%;
   width: 50%;
}
.h2-pedido {
    position: relative;
    margin: 5%;
    color: #687D6A;
    margin-left: 30%;
}
.img_realizar-pedido {
    position: relative;
}
.boton {
    position: relative;
    color: #687D6A;
    background-color: white;
    margin-left: 49%;

    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: rgb();
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*-----------------MEDIA---------------------*/

@media (max-width: 780px) {
    .img_realizar-pedido {
        position: relative;
    }
}
