.pasos_pedido {
    list-style: none;
    margin-top: 15px;


}
.contenedor_pasos_pedido {
    margin-left: 27%;
   width: 50%;
}
.h2-pedido {

    margin: 5%;
    color: #687D6A;
    margin-left: 35%;
}
.img_realizar-pedido {
    margin-left: 25%;
    
}
.boton {
    color: #687D6A;
    background-color: white;
    margin-left: 46%;

    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: rgb();
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*-----------------MEDIA---------------------*/

@media (max-width: 991px) {
    .img_realizar-pedido {

    }
}
